body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: rgb(80, 116, 148);
}
.nav-item {
  margin: 20px;
}
.active {
  color: white;
  opacity: 0.75;
}
.active:hover {
  color: white;
  opacity: 1;
}
.main-title {
  text-align: center;
  margin: 20px;
  margin-bottom: 20px;
}
.login-row {
  text-align: center;
  margin: 20px;
}
.faux-link {
  color:rgb(80, 116, 148);
}
.faux-link:hover {
  color: blue;
  text-decoration: underline;
}